// The main css file
body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  text-align: center;
}

.ui-select-bootstrap > .ui-select-choices {
  position: absolute;
}

.xui-select-container.form-control  {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.page-header h1 {
  text-align: left;
  cursor: pointer;
}

.collapse-indicator {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}

.collapse-indicator.collapse-indicator-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.loading-widget {
  color: #007FBB;
  text-align: center;
  i {
  font-size: 4em;
  }
}

.hidden {
  display: none;
}



.node circle {
  fill: #fff;
  stroke: gray;
  stroke-width: 1.5px;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.background {
  fill: #eee;
}
line {
  stroke: #fff;
}

text {
  font-size: 0.7em;
}

text.active {
  fill: red;
}

.btn span {
  text-align: left;
}


#jobs ul li {
  display: inline-block;
}

samp {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}

samp.left {
  text-align: left;
}

a.list-group-item {
  height: 14rem;
}

.axis path {
  fill: none;
  stroke: none;
}

.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

rect.cell:hover, rect.cell + text:hover, rect.cell + text + text:hover  {
  cursor: pointer;
}

rect.cell:hover + text, rect.cell + text:hover {
  font-weight: bolder;
  fill: #fff !important;
}

rect.cell:hover + text + text, rect.cell + text + text:hover {

}

#dendogram {min-height: 850px}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}

.st-sort-ascent:after {

  content: '\25B2';

}


.st-sort-descent:after {

  content: '\25BC';

}


.lr-drop-target-before{

  border-left: 2px solid orange;

}


.lr-drop-target-after{

  border-right: 2px solid orange;

}



